body {
    background-color: turquoise;
    min-height: 50px;
}

img{
    border-radius: 25px;
}

.btn{
    padding-top: 35px;
    text-align: center;
}
input{
   
    display: inline-block;
     text-decoration: none;
      color: rgb(12, 12, 12);
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
      font-weight: 40;    
      font-size: 15px;
      text-align: center;
      border: 6px solid #fff;
      border-radius: 13px;
      padding: 6px 50px 
    
    }

     